<%= simple_form_for(@workout) do |f| %>
  <div class="form-inline">
    <%= f.input :date, label: "Date" %>
  </div>
  <br>
  <%= f.input :workout, label: "Bodyparts Trained", input_html: { class: "form-control" } %>
  <%= f.input :mood, label: "Energy Level", input_html: { class: "form-control" } %>
  <%= f.input :length, label: "Workout Length", input_html: { class: "form-control" } %>
  <br>
  <%= f.button :submit %>
<% end %>
